<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Josh McQuiston</title>
    <link rel="stylesheet" href="css/foundation.css" />
	<link rel="stylesheet" href="css/custom.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37855040-1', 'joshmcquiston.com');
  ga('send', 'pageview');

</script>
       <div class="row">
    <div class="large-12 columns">
 
      <!-- Navigation -->
 
         <ul class="button-group">
          <li><a href="../" class="button">Home</a></li>
          <li><a href="#" class="button active">About</a></li>
          <li><a href="contact.html" class="button">Contact</a></li>
        </ul>
 
      <!-- End Navigation -->
	  
	  <h2>josh: lover of many things, including the web...</h2>
	 <!-- <p>I am a self taught web developer who loves problem solving and building functional websites and applications. My focus is on PHP and web services, and creating innovative tools and experiences using creativity and the vast resources available. I am a native Oregonian, and 10 year Portlandite who revels in all the Northwest has to offer. A few of my favorite hobbies include seeing live music, playing music, drinking coffee, drinking microbrews, riding my bike, camping, surfing, cooking, attending various local tech events, and yoga.</p>-->
	      <p>I am a developer interested in applications, programming, electronics and supporting and participating in the dev community. Most recently my main flavor is Python and Django development.  I have also previously created responsive front ends using JQuery, Bootstrap, and Foundation, built dynamic back ends using PHP, and used both SQL and NoSQL databases. I love to learn new technologies and get better at using the ones I already do. I have a BS in Business/Marketing, and plenty of customer facing experience; working with clients who are focused on business needs is second nature.</p>
	  
	  
	  
	  
	  
	  
	  
	  
	  
      <!-- Footer -->
 
        <footer class="row">
        <div class="large-12 columns"><hr />
            <div class="row">
 
              <div class="large-6 columns">
                  <p>© Copyright Josh McQuiston</p>
              </div>
 
              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="http://www.linkedin.com/pub/joshua-mcquiston/4/81/8b1">LinkedIn</a></li>
                    <li><a href="https://plus.google.com/u/0/+JoshuaMcquiston/about">Google+</a></li>
                    <li><a href="https://github.com/josh-mcq">Github</a></li>
                    <li><a href="https://twitter.com/mcquistonator">Twitter</a></li>
                  </ul>
              </div>
 
            </div>
        </div>
      </footer>
 
      <!-- End Footer -->
 
 
    </div>
  </div>
      
      
  </body>
</html>
