<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}My Django Blog{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico in the root directory -->

       {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'joshmcquiston/css/foundation.css' %}"/>
        <link rel="stylesheet" href="{% static 'joshmcquiston/css/custom.css' %}" />
        <!--<link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/dist/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/dist/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
        <script src="{% static 'bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js' %}"></script>-->
    </head>
    <body>
      <div class="row">
         <div class="large-12 columns">
 
      <!-- Navigation -->
 
        <ul class="button-group">
          <li><a href="http://www.joshmcquiston.com" class="button">Home</a></li>
          <li><a href="http://www.joshmcquiston.com/about.html" class="button">About</a></li>
          <li><a href="http://www.joshmcquiston.com/contact.html" class="button">Contact</a></li>
          <li><a href="https://fathomless-castle-1283.herokuapp.com/" class="button">Blog</a></li>
        </ul>
 
      <!-- End Navigation --></div>
       
          <h2>Josh McQuiston's Blog</h2>
                  
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade you
            r browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="blog">
        {% block content %}{% endblock %}
      </div>
               <footer class="row">
        <div class="large-12 columns"><hr />
            <div class="row">
 
              <div class="large-6 columns">
                  <p>© Copyright Josh McQuiston.</p>
              </div>
 
              <div class="large-6 columns">
                  <ul class="inline-list right">
                    <li><a href="http://www.linkedin.com/pub/joshua-mcquiston/4/81/8b1">LinkedIn</a></li>
                    <li><a href="https://plus.google.com/u/0/+JoshuaMcquiston/about">Google+</a></li>
                    <li><a href="https://github.com/josh-mcq">Github</a></li>
                    <li><a href="https://twitter.com/pdxwebdeveloper">Twitter</a></li>
                  </ul>
              </div>
 
            </div>
        </div>
      </footer>
        <p>Hello world! This is HTML5 Boilerplate.</p>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'bower_components/html5-boilerplate/js/vendor/jquery-1.11.3.min.js' %}"><\/script>')</script>
        <script src="{% static 'bower_components/html5-boilerplate/dist/js/plugins.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
