{% extends 'blog/includes/base.html' %} 
{% block head_title %}Viewing category {{ category.title }}{% endblock %}
{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <h3>{{ category.title }}</h3>
    {% if posts %}
        <ul>
        {% for post in posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
    <a href="https://fathomless-castle-1283.herokuapp.com/">Back to blog home{{ post.category.title }}</a>
{% endblock %}